Python internals

pycache/
*.py[cod]
*$py.class
*.so

Distribution / Packaging

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

PyInstaller

*.manifest
*.spec

Testing / Coverage

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

Environments

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

IDE / Editors

.idea/
.vscode/
.code-workspace
.spyderproject
.spyderproject-
.ropeproject

Type Checking & Linters

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

OS Files

.DS_Store

Logs

pip-log.txt
pip-delete-this-directory.txt

Project Data

data/addressbook.pkl
data/logs.txt